.historia p {
    font-size: 0.8em;
}

.persona {
    text-align: center;
}

.persona img {
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(0,0,0,0,5);
    margin: 0.8em 0 1em;
}

.persona h5, .persona h6 {
    font-weight: normal;
    color: aqua;
    margin: 0;
}

.persona h5 {
    font-size: 0.9em;
}

.persona h6 {
    font-size: 0.7em;
    font-style: italic;
    margin-bottom: 1em;
}

.persona p {
    font-size: 0.7em;
    margin: 0 1em 1 em;
    color:beige
}

.persona:first-child{
    margin-left: 0;
}